<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParliProFinal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C209AAFA1EE8CEEA0069609E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C209AB111EE8CEEA0069609E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C209AB1C1EE8CEEA0069609E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
